.left {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin-top: 10px;
}

.right {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    width: 90%;
    margin-top: 10px;
}